:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.group {
  left: 357.42837078651667px;
  top: 275.59269662921326px;
  position: absolute;
  width: 1278px;
  height: 1132px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.card {
  left: 4.702247191011254px;
  top: -0.3595630774337044px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.card_1 {
  left: 9.75842696629219px;
  top: 588.6853807427916px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.card_2 {
  left: 423.1011235955057px;
  top: 5.96066164166742px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.card_3 {
  left: 826.2563867534005px;
  top: 7.647503746930577px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.card_4 {
  left: 822.8827025428742px;
  top: 589.6080300627202px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.card_5 {
  left: 421.83707865168566px;
  top: 588.685380742791px;
  position: absolute;
  width: 320px;
  height: max-content;
  min-width: 320px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.avatar {
  --background: none;
}
.button {
  height: max-content;
  min-width: min-content;
}
.input {
  left: 358px;
  top: 195.3750000000001px;
  position: absolute;
  width: 493px;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_1 {
  left: 878.0898876404494px;
  top: 204.1558988764045px;
  position: absolute;
}
